#log{
  color: white;
  font-size: 16px;

  padding: 10px;
  margin: 0 0 10px;
  line-height: 1.42857143;

  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
